<h1><%= @merchant.name %>'s Discounts</h1>
<%= link_to 'Create New Discount', new_merchant_bulk_discount_path(@merchant) %>

<h3>Upcoming Holidays</h3>

<ul>
  <% @holidays.each do |holiday| %>
    <li><%= holiday.name %> on <%= holiday.date %></li>
  <% end %>
</ul>

<% @merchant.bulk_discounts.each do |discount| %>
  <ul>
    <div id='discount-<%= discount.id %>'>
      <li>
        <%= link_to discount.percentage_discount, merchant_bulk_discount_path(@merchant, discount) %>% on <%= discount.quantity_threshold %> items
        <%= link_to 'Delete Discount', merchant_bulk_discount_path(@merchant, discount), method: :delete %>
      </li>
    </div>
  </ul>
<% end %>