<h1>Admin Dashboard</h1>

<%= render 'shared/admin_nav' %>

<section id="top-five-customers">
  <h3>Top 5 Customers</h3>
  <ol class="nav nav-pills flex-column">
    <% @customers.top_five.each do |customer| %>
      <section id="customer-<%= customer.id %>">
        <li><%= customer.first_name %> <%= customer.last_name %> - <%= customer.successful %> purchases</li>
      </section>
    <% end %>
  </ol>
</section>

<section id="incomplete-invoices">
  <h3>Incomplete Invoices</h3>
  <ul class="nav nav-pills flex-column">
    <% @customers.incomplete_invoices.each do |invoice| %>
      <li class="nav-item">
        <%= link_to "Invoice ##{invoice.invoice_id} - #{invoice.created_at_formatted}", admin_invoice_path(id: invoice.invoice_id), class: "nav-link btn-link" %>
      </li>
    <% end %>
  </ul>
</section>
