<h1>Admin Merchants</h1>

<%= render 'shared/admin_nav' %><br>
<br>
<%= link_to "Create New Merchant", new_merchant_path %>

<h3>Top Five Merchants</h3>
<ol>
  <% @merchants.top_five.each do |merchant| %>
  <div id="top_five-<%= merchant.id %>">
    <li><%= link_to merchant.name, admin_merchant_path(merchant) %> - <%= number_to_currency(merchant.revenue.fdiv(100)) %> in revenue</li>
    <p>Top selling date for <%= merchant.name  %> was <%= merchant.best_day.created_at_formatted %></p>
  </div>
  <% end %>
</ol>



<h3>Enabled Merchants</h3>
<section id="enabled">
  <% @merchants.enabled.each do |merchant| %>
    <div id="merchant-<%= merchant.id %>" class="btn-group" role="group" aria-label="Basic example">
      <%= link_to merchant.name, admin_merchant_path(merchant), class: "btn btn-secondary" %>
      <%= button_to "Disable", merchant_path(merchant), method: :patch, params:{status: "disabled"}, class: "btn btn-secondary" %>
    </div><br><br>
  <% end %>

</section>

<h3>Disabled Merchants</h3>
<section id="disabled">
  <% @merchants.disabled.each do |merchant| %>
    <div id="merchant-<%= merchant.id %>" class="btn-group" role="group" aria-label="Basic example">
      <%= link_to merchant.name, admin_merchant_path(merchant), class: "btn btn-secondary" %>
      <%= button_to "Enable", merchant_path(merchant), method: :patch, params:{status: "enabled"}, class: "btn btn-secondary" %>
    </div><br><br>
  <% end %>
</section>
