<h1>Invoice #<%= @invoice.id %></h1>

<p>Status: <%= @invoice.status %></p>
<p>Date Created: <%= @invoice.created_at_formatted %></p>
<p>Customer Name: <%= @invoice.customer_by_id.first_name %> <%= @invoice.customer_by_id.last_name %></p>
