<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <section = id="navigation">
      <%= link_to "Admin", admin_path %>
      <%= link_to "Merchants", admin_merchants_path %>
      <%= link_to "Invoices", admin_invoices_path %>
    </section>
    <%= yield %>
  </body>
</html>
