<!doctype html>
<html lang="en">
  <head>
    <title>Little Esty Shop</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>


  </head>
  <body>
      <section = id="navigation">
        <%= render 'shared/navbar' %>
      </section>
      <div class='container'>
        <%= render 'shared/flash' %>
        <%= yield %>
        <footer>
          <p>GitHub Repo Name: <%= link_to @github.get_repo_name, @github.get_repo_url %></p>
          <p>Number of Pull Requests: <%= @github.pull_requests %></p>
          Contributors:
          <ul>
            <% @github.get_contributors.each do |contributor, attributes| %>
              <li><%= link_to contributor, attributes[0] %> - <%= attributes[1] %> commits</li>
            <% end %>
          </ul>
        </footer>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>
